ДОГОВОР ОКАЗАНИЯ УСЛУГ № {{ contract_number }}

г. Москва                                                    {{ contract_date }}

{{ customer }}, именуемое в дальнейшем «Заказчик», в лице {{ customer_representative }}, с одной стороны, и {{ contractor }}, именуемый в дальнейшем «Исполнитель», в лице {{ contractor_representative }}, с другой стороны, совместно именуемые «Стороны», заключили настоящий Договор о нижеследующем:

1. ПРЕДМЕТ ДОГОВОРА

1.1. Исполнитель обязуется оказать услуги: {{ service_description }}, а Заказчик обязуется принять и оплатить эти услуги.

2. СТОИМОСТЬ УСЛУГ

2.1. Стоимость услуг по настоящему Договору составляет {{ contract_amount }} руб.

3. РЕКВИЗИТЫ И ПОДПИСИ СТОРОН

Заказчик: {{ customer }}                     Исполнитель: {{ contractor }}
_______________ / {{ customer_representative }} /          _______________ / {{ contractor_representative }} /
